{% extends "first/index.html" %}


{% block table_view %}
<!-- {% for x in context %}
  
{% endfor %} -->
<!-- <h1>{{ context }}</h1> -->
<!-- <h1>{% for item in context %}
  <li>{{ item }}</li>
  {% endfor %}</h1> -->


<!-- {% for key, value in item.items %}
    <th><a href="">{{ value }}</a></th>
{% endfor %} -->
<!-- <h1>{{context}}</h1> -->
<table class="table table-hover">
  {% for key, value in context.items %}
  
  {% if "Type" in key %}
  <h2 style="font-family: Monospace;">{{value}} </h2>
  {% endif %}

  {%endfor%}


<table class="table table-bordered">
  <tr>
      <th style="width: 30%">Название</th>
      <td></td>
  </tr>
  {% for key, value in context.items %}
  <tr>
    
    {% if "Type" not in key %}
      <th>{{ key }}</th>
      <td>{{ value }}</td>
    {% endif %}
  </tr>
  {% endfor %}
  
  </table>
<form method="get" action="">
  <input type="submit" value="Edit" name="change" class="btn btn-light">
  <input type="submit" value="Delete" name="delete" class="btn btn-danger">
</form>
  
{% endblock table_view %}