{% extends "first/index.html" %}

{% block content %}
<h2 style="font-family: Monospace;">Предложения </h2>
<table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Document ID</th>
        <th>Doc position</th>
        <th>Text</th>
        
      </tr>
    </thead>
    <tbody >
      {% for item in context %}
        <tr style="width: 50%">
          <th scope="row">{{ forloop.counter }}</th>
          {% for key, value in item.items %}
          <!-- {% if "PK" not in key %} -->
            <th>
              <a href="sentences/{{ item.PK }}">{{ value }}</a>
            </th>
          <!-- {% endif %} -->
         
          {% endfor %}
        </tr>
        {% endfor %}
      </tr>
    </tbody>
  </table>
  <a class="btn btn-primary" href="sentences/add">Add Sentence</a>

{% endblock content %}