<!DOCTYPE html>
<html lang="en">
{% load i18n %}
{% load static %}
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% translate 'Проект' %}</title>

    <link rel="stylesheet" href='{% static "css/bootstrap.css" %}'>
    <script src='{% static "js/jquery-3.6.0.min.js"%}'></script>
</head>



<body>



<div id="snek">
<div id="snax">
<div class="container title-logo hidden-xs">
    <a href="http://modmorph.turklang.net/ru/">{% translate 'Портал "Тюркская Морфема"' %}</a>
</div>
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">

           
            <button type="button" class="navbar-toggle" id="navbarButton" data-toggle="collapse" data-target="#navbarLinks" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            <p class="navbar-text navbar-signed-in" style="margin-left: 20px;">
                <b>
                    Django
                </b>
            </p>
          


        </div>
        <div class="collapse navbar-collapse" id="navbarLinks">
            <ul class="nav navbar-nav navbar-right">
                <div class="dropdown">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <p>{{LANGUAGE_CODE}}:</p>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div class="languages">
                            <!-- <p>{% trans "Language" %}:</p> -->
                            <ul class="languages">
                                {% for language in languages %}
                                    <li>
                                        <a href="/{{ language.code }}/" {% if language.code == LANGUAGE_CODE %} class="selected"{% endif %}>
                                            {{ language.name_local }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                  </div>
                
            </ul>
        </div>
    </div>
</nav>


<!-- SideBarMenuBlock -->
<div class="col-md-2 col-sm-4 sidebar-menu" id="sidebarMenuBlock">
       
        <div class="list-group-item">
            <b>{% translate 'Меню' %}</b>
        </div>

            
            <a href="/documents" class="list-group-item">
                {% translate 'Документы' %}
            </a>
            <a href="/sentences" class="list-group-item">
                {% translate 'Предложения' %}
            </a>
            <a href="/clauses" class="list-group-item">
                {% translate 'Клаузы' %}
            </a>
            <a href="/syntaxemes" class="list-group-item">
                {% translate 'Синтаксемы' %}
            </a>
            <a href="/wordforms" class="list-group-item">
                {% translate 'Словоформы' %}
            </a>
            
</div>



<div class="col-md-9 col-sm-8 col-xs-12">

    {% block content %}
    {% endblock content %}
    
</div>
<script src='{% static "js/sentence_choice.js" %}'></script>

<script src='{% static "js/bootstrap.js" %}'></script>
</body></html>