{% extends "first/index.html" %}

{% block change %}

<form method="POST">
    {% csrf_token %}
        
    <div class="form-group">
        <label for="text">File Name</label>
        <input type="text" class="form-control" 
        name="file_name" value="{{ context.file_name }}">
    </div> 
    
    <div class="form-group">
        <label for="text">Author</label>
        <input type="text" class="form-control" 
        name="author" value="{{ context.author }}">
    </div> 
    
    <div class="form-group">
        <label for="text">Language ID</label>
        <input type="text" class="form-control" 
        name="language_id" value="{{ context.language_id }}">
    </div> 
    <input id="edit" type="submit" value="Save" name="action" class="btn btn-light">
    <input id="delete" type="submit" value="Delete" name="action" class="btn btn-danger">
</form>
<!-- 
<script>
     $("#").click(
        function () {
             // Get value
            file_name = $("#file_name").val();
            author = $("#author").val();
            language_id = $("#language_id").val();
          
            send_data = {
                "file_name":file_name,
                "author":author,
                "language_id":language_id,
                //"csrfmiddlewaretoken":"{{ csrf_token }}",
            };
            console.log(send_data)
            url = "{{url}}";
            $.ajax(
                {
                    url:'/apps/first/documents/add',
                    type:"post",
                    
                }
            )
 
        }
    )
</script> -->
{% endblock change %}
