{% extends "first/index.html" %}

{% block content %}
{% load static %}
<form id="doc_change">
    <div class="form-group">
        <label for="text">File Name</label>
        <input type="text" class="form-control" 
        name="file_name" value="{{ context.file_name }}">
    </div> 
    
    <div class="form-group">
        <label for="text">Author</label>
        <input type="text" class="form-control" 
        name="author" value="{{ context.author }}">
    </div> 
    
    <div class="form-group">
        <label for="text">Language ID</label>
        <input type="text" class="form-control" 
        name="language_id" value="{{ context.language_id }}">
    </div>
    <input type="submit" value="Edit" onclick="change_save()">
    <input value="Delete" onclick="change_delete()" class="btn btn-danger">
</form>
<script src='{% static "js/doc_manage.js" %}'></script> 
{% endblock content %}
