{% extends "first/index.html" %}

{% block content %}  

<body>
  <form method="POST" class="post-form" enctype="multipart/form-data" style="margin: auto; width: 50%;">
    <h2>Document Upload</h2>
          {% csrf_token %}  
          {{ form.as_p }}  
          <button type="submit" class="save btn btn-default">Save</button> 
  </form>
  <!-- <form method="POST" class="post-form" enctype="multipart/form-data">  
          {% csrf_token %}  
          {{ form.as_p }}  
          <button type="submit" class="save btn btn-default">Save</button>  
  </form>   -->
</body>  

{% endblock content %}